@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-dark-red: hsl(14, 86%, 30%);
  --color-green: hsl(159, 69%, 38%);
  --color-white: #fff;

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  --font-family: "Red Hat Text", sans-serif;
  --font-size-product: 16px;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  hanging-punctuation: first last;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size-product);
  font-weight: var(--font-weight-400);
  background: var(--color-rose-50);
  color: var(--color-rose-900);
}

button {
  cursor: pointer;
  border: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

button {
  background: none;
}

.menu-container {
  padding: 1.5rem;
}

.menu-container h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: var(--font-weight-700);
}

.menu-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-card picture {
  position: relative;
  max-width: max-content;
}

.menu-image {
  border-radius: 0.5rem;
}

.btn-cart-add {
  width: 160px;
  height: 48px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-white);
  font-weight: var(--font-weight-600);
  border: 1px solid var(--color-rose-500);
  border-radius: 5rem;
  &:hover {
    color: var(--color-red);
    border-color: var(--color-red);
  }
}
.cart-incr-decr {
  width: 160px;
  height: 48px;
  padding: 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 5rem;
}

.btn-decr,
.btn-incr {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  &:hover {
    background: var(--color-white);
  }
}

.btn-decr:hover svg path,
.btn-incr:hover svg path {
  fill: var(--color-red);
}

.menu-category {
  margin-bottom: 0.25rem;
  color: var(--color-rose-400);
  font-size: 0.875rem;
}

.menu-name {
  margin-bottom: 0.25rem;
  font-weight: var(--font-weight-600);
}

.menu-price {
  color: var(--color-red);
  font-weight: var(--font-weight-600);
}

.cart-container {
  margin: 1.5rem;
  padding: 1.5rem;
  background: var(--color-white);
  border-radius: 0.5rem;
}

.cart-container h2 {
  margin-bottom: 2rem;
  color: var(--color-red);
  font-size: 1.75rem;
  font-weight: var(--font-weight-700);
}

.empty-cart {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
}

.empty-cart p {
  color: var(--color-rose-500);
  font-weight: var(--font-weight-600);
}

.items {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight-600);
  border-bottom: 1px solid var(--color-rose-100);
}

.item-name {
  margin-bottom: 0.5rem;
}

.price-wrap {
  display: flex;
  gap: 0.5rem;
}

.item-quantity {
  margin-right: 0.25rem;
  color: var(--color-red);
}

.item-price {
  color: var(--color-rose-400);
  font-weight: var(--font-weight-400);
}
.total-per-item {
  color: var(--color-rose-500);
}

.btn-remove-item {
  padding: 3px;
  border: 1px solid var(--color-rose-400);
  border-radius: 50%;
  &:hover {
    border-color: var(--color-rose-900);
  }
}

.btn-remove-item svg {
  width: 12px;
  height: 12px;
}
.btn-remove-item:hover svg path {
  fill: var(--color-rose-900);
}

.total-wrap {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-price {
  font-size: 1.75rem;
  font-weight: var(--font-weight-700);
}

.carbon-neutral {
  margin-top: 2rem;
}

.carbon-neutral p {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  background: var(--color-rose-50);
  border-radius: 0.5rem;

  span {
    font-weight: var(--font-weight-600);
  }
}

.btn-confirm-order,
.btn-start-new {
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 10rem;
  &:hover {
    background: var(--color-dark-red);
  }
}

.confirmation-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  background: var(--color-white);
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  &::-webkit-scrollbar {
    display: none;
  }
}
.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  pointer-events: all;
}

.check-icon {
  margin-bottom: 1.5rem;
}

.confirmation-container h3 {
  max-width: 5ch;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: var(--font-weight-700);
  line-height: 1.2;
}

.confirmation-container > p {
  margin-bottom: 2rem;
  color: var(--color-rose-500);
}

.item-details {
  padding: 0 2rem 1.5rem;
  background: var(--color-rose-50);
  border-radius: 0.5rem;
}

.items-confirmed {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-weight: var(--font-weight-600);
  border-bottom: 1px solid var(--color-rose-100);
}

.thumbnail-img {
  width: 60px;
  height: 60px;
  border-radius: 0.25rem;
}

.items-wrap {
  display: flex;
}

.items-confirmed .total-per-item {
  margin-left: auto;
}

@media (min-width: 600px) {
  .menu-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .menu-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  #root {
    padding: 3rem 5% 0;
    display: grid;
    grid-template-columns: 1fr 30%;
  }
  .menu-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-container {
    max-height: max-content;
  }
  .confirmation-container {
    width: max-content;
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 0.5rem;
  }
}

@media (min-width: 1200px) {
  #root {
    padding: 3rem 8% 0;
    display: grid;
    grid-template-columns: 1fr 30%;
  }
  .menu-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
